
@media screen and (min-width: 769px) {
#menu-sp {
  display: none;
}

#nav-sp {
  display: none;
}


#nav-sp  a {
  position: inline;
  color: #000000;
  margin-left: 20px;
  position: absolute;
  right: 0;
}

#nav-sp > a:link {
  color: #ffffff;
}

#nav-sp > a:visited {
  color: #ffffff;
}

#nav-sp > a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#nav-sp > a:active {
 color: #ffffff;
}

#nav-sp .menu {
  text-decoration: none;
  display: block;
  font-size: 16px;
  background-image: url("images/arrow.png");
  background-repeat: no-repeat;
  background-position: right top;
}}
/* 画面幅が767px以下のとき */
@media screen and (max-width: 767px){
  /* スマートフォン用のスタイルを指定する */
  /* PC用ナビゲーション */

  #menu-sp {
  display: block; /* スマホで表示 */
}}

  body {
  min-width: 375px;
  margin: 0;
}

#nav-pc {
  display: none;
}

#menu-sp {
  
  float: right;
  padding: 0;
}

#nav-sp {
  background-color: #ce933e;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 100;
}
#nav-sp ul {
  padding-left: 0;
}

#nav-sp li {
  list-style: none;
}

#close {
  position: absolute;
  top: 20px;
  right: 20px;
}

#logo-sp {
  margin: 80px 0 30px 20px;
}

#nav-sp  a {
  display: block;
  color: #ffffff;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#nav-sp > a:link {
  color: #ffffff;
}

#nav-sp > a:visited {
  color: #ffffff;
}

#nav-sp > a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#nav-sp > a:active {
 color: #ffffff;
}

#nav-sp .menu {
  text-decoration: none;
  display: block;
  font-size: 16px;
  background-image: url("images/arrow.png");
  background-repeat: no-repeat;
  background-position: right top;
}

main img {
  max-width: 100%; /* 画面幅より大きくならない */}